html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
button,
input {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

strong,
b {
    font-weight: normal;
}

em,
i {
    font-style: normal;
}

img {
    border: none;
    vertical-align: top;
    width: 100%;
}

a {
    text-decoration: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

section,
nav,
menu,
footer,
aside,
header {
    display: block;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    border: none;
    background-color: transparent;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus {
    outline: none;
}

input::-webkit-input-speech-button {
    display: none
}