body {
    font-size: .32rem;
}

.pop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.pop::before {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.content {
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
}